.page-content {
    margin: 0px auto;
}

.h6 {
    font-size: 20px;
    line-height: 22px;
    color: rgb(0, 47, 52);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 36px 0px 30px 24px;
    font-weight: 400;
}

.h6-number{
    width: 48px;
    height: 48px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    background-color: rgb(0, 47, 52);
    color: rgb(255, 255, 255);
    margin: 0px 20px 0px 0px;
}

.top-up-description-box {
    background-color: rgb(255, 246, 217);
    margin-bottom: 32px;
    padding: 16px;
    max-width: 500px;
}

.p-description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: rgb(0, 47, 52);
    margin: 0px 0px 12px;
}

.ol {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.li {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
}

.span-allowed {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: rgb(255, 206, 50);
    color: rgb(0, 47, 52);
    font-size: 12px;
}

.span-not-allowed {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: rgb(222, 22, 9);
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.p-ol-items {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    margin: 0px 0px 0px 8px;
}