.footer {
  z-index: 1001;
  position: relative;
  background: #F2F4F5;
  border-top: 1px solid #7F9799;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
