.header {
    background-color: #ffa500;
    color: #ffffff;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
