.header {
    background-color: #ffa500;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
