/* Navigation.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
    padding: 10px 20px;
}

.nav-logo img {
    height: 40px;
    margin-right: 700px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

.nav-links a:hover {
    color: #808080;
}

.nav-postProduct {
    margin-left: auto; 
}

.nav-postProduct a {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #ffa500;
    border: 2px solid #ffa500;
    border-radius: 5px;
}

.nav-postProduct a:hover {
    background-color: #ffa500;
    color: #ffffff;
}
